* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

#main {
  height: 100%;
  width: 100%;
  background-color: black;
  padding: 20px;
  text-align: center;
}

#h1 {
  color: transparent;
  font-size: 90px;
  background-clip: text;
  -webkit-text-stroke: 2px white;
  display: inline-block;
  margin-bottom: 40px;
}

.card {
  height: 75%;
  width: 100%;
  background-color: rgb(0, 0, 0);
  padding: 20px;
  border-radius: 5px;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  gap: 20px;
  overflow: auto;
  flex-wrap: nowrap;
}

.card .box {
  height: 80%;
  width: 20%;
  background-color: rgb(0, 0, 0);
  border-radius: 5px;
  flex-shrink: 0;
   align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
 
}
.box .cardbox {
  height: 40%;
  width: 100%;
  bottom: -40%;
  transition: all ease 0.5s;
  background: linear-gradient(transparent, rgb(169, 168, 168));
  position: absolute;
  padding-top: 45px;
}

h1{
    font-size: 40px;
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.card::-webkit-scrollbar {
  display: none;
}

.card .box:hover .cardbox {
  /* background-color: black; */
  bottom: 0%;
}
