* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

main {
  height: 100%;
  width: 100%;
  display: flex;
  background-color: rgb(222, 150 , 150);

  section {
    height: 100%;
    flex-grow: 1;
    border: 20px solid rgb(222, 150, 150);
    background-size: cover;
    background-position: center;
    border-radius: 50px;
    transition: all 0.7s cubic-bezier(0.075, 0.82, 0.165, 1) ;

  }
  section:hover{
    flex-grow: 2;
    cursor: pointer;
  }
  section:nth-child(1){
    background-image: url(https://images.unsplash.com/photo-1534528741775-53994a69daeb?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8cG90cmFpdHxlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&q=60&w=600);
  }
  section:nth-child(2){
    background-image: url(https://images.unsplash.com/photo-1521676259650-675b5bfec1ae?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTF8fHBvdHJhaXR8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&q=60&w=600);
  }
  section:nth-child(3){
    background-image: url(https://images.unsplash.com/photo-1618151313441-bc79b11e5090?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTV8fHBvdHJhaXR8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&q=60&w=600);
  }
  section:nth-child(4){
    background-image: url(https://plus.unsplash.com/premium_photo-1681494639261-7908ef9d2257?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTN8fHBvdHJhaXR8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&q=60&w=600);
  }
  section:nth-child(5){
    background-image: url(https://plus.unsplash.com/premium_photo-1688676796006-bbd1599bbfb6?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8Z2lybHN8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&q=60&w=600);
  }
}
