@font-face {
  font-family: New;
  src: url(./NeueMachina-Light_gwWCZxVuQl.ttf);
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

h1{
  position: absolute;
  top:0%;
  color: red;
}

#main {
  font-family: New;
  height: 120%;
  width: 100%;
  background-color: pink;
  display: flex;
  padding: 40px;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;

}

.card {
  margin-top: 20px;
  height: 300px;
  width: 240px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 10px 10px 45px rgb(125, 119, 119);
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: space-evenly;
  align-items: center;
  
  text-align: center;
}

.card img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.card h2 {
  font-weight: 700;
  font-size: 35px;
  color: rgb(67, 56, 56);
}
.card p {
  font-weight: 600;
  color: #777;
}

.card button {
  font-family: New;
  padding: 15px 25px;
  border-radius: 20px;
  border: none;
  color: rgb(255, 255, 255);
  font-weight: 700;
  background-color: rgb(54, 60, 243);
  border: 2px solid rgb(54, 60, 243);
}

.card button:hover {
  background-color: white;
  color: rgb(54, 60, 243);
  cursor: pointer;
}
