* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}
@keyframes changebg {
  from {
    background-color: purple;
    border-radius: 50%;
  }
  to {
    background-color: green;
  }
}

.box {
  height: 400px;
  width: 400px;
  /* background-color: rebeccapurple; */
  animation: changebg 5s infinite;
}
