* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

/* position absolute */
/* #absolute{
    height: 200px;
    width: 200px;
    background-color: black;
    position: absolute;
    left: 41%;
    top: 40%;

} */

/* position relative */

/* #main {
  position: relative;
  height: 500px;
  width: 500px;
  background-color: pink;
}

#relative {
  height: 10px;
  width: 15px;
  background-color: red;
  top: 80%;
  position: absolute;
} */

/* position fixed; */

/* #main{
    height: 3000px;
    width: 100%;
    background-color: black;
}

#fixed{
    height: 300px;
    width: 300px;
    background-color: white;
    left: 50%;
    top: 30%;
    position: fixed;
} */



/* position sticky */

#child1{
    height: 1500px;
    width: 100%;
    background-color: #333;
    color: white;
}

#child2{
    height: 1500px;
    width: 100%;
    background-color: #a29f9f;
}

#sticky{
    height: 200px;
    width: 150px;
    background-color: red;
    position: sticky;
    top: 10%;
}